.BlogPost-container {
    margin-left:2em;
    margin-right:2em;
    margin-top:1em;
    border-bottom:solid 1px black;
}

.BlogPost-title-container {
    margin:0;
}

.BlogPost-content-container {
    margin-left:2em;
    margin-right:2em;
}

.BlogPost-author-container {
    margin:0;
}
.BlogPost-author {
    font-size:.75em;
}

.BlogPost-tags-container {
    margin:0;
}

.BlogPost-tags {
    font-size:.75em;
}